<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Error</title>
  </head>
  <body>
    <div class="container">
      <h1>Error</h1>
      <div role="alert" class="alert alert-danger ">
        <%=error.details[0].message%>
        <a href="/api/algo">click</a> to insert data again
      </div>
    </div>
  </body>
</html>
