<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <title>Submitted</title>
  </head>
  <body>
    <div class="container">
      <h1>Success</h1>
      <div role="alert" class="alert alert-success ">
        Successfully Submitted data to our database.
        <a href="/api/algo">click</a> to insert data again
      </div>
    </div>
  </body>
</html>
